{% extends "base.html" %}

{% block content %}

      <div class="container">
          <h1>{{blog_detail.title}}</h1>
          <p>{{blog_detail.pub_date}}</p>
          <p>{{blog_detail.body}}</p>
          <br>

          {% if user.is_authenticated %}
          <a class="btn btn-dark" href="{% url 'update' blog_detail.id %}">수정</a>
          <a class="btn btn-dark" href="{% url 'delete' blog_detail.id %}">삭제</a>
          <br><br><br>
          {% endif %}

        
          <a href="{% url 'home' %}">돌아가기</a>
      
        </div>



</body>
</html>

{% endblock %}